body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
    margin: 0;
}

/* NAVBAR */
.navbar {
    background-color: #4B2E2E;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo {
    margin: 0;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 30px auto;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 8px;
}

button {
    padding: 8px 15px;
    background: brown;
    color: white;
    border: none;
    cursor: pointer;
}
/* HERO SECTION */
.hero {
    background: linear-gradient(to right, #6f4e37, #4B2E2E);
    color: white;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.primary-btn {
    background: #fff;
    color: #4B2E2E;
    margin: 10px;
}

.secondary-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    margin: 10px;
}

/* ABOUT SECTION */
.about {
    padding: 40px 20px;
    background: #ffffff;
}

.about p {
    max-width: 600px;
    margin: auto;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background: #f9f9f9;
}

.feature-card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* FOOTER */
.footer {
    background: #4B2E2E;
    color: white;
    padding: 15px;
}